<h2>Login</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
<%= f.error_notification %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>

  <div class="form-group">
    <%= f.submit "Login Now", class: "btn btn-primary" %>
  </div>
<br></br>
<% end %>

<%= render "devise/shared/links" %>